{% extends 'base.html.twig' %}

{% block title %}Change User Password{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-0">Change Password for {{ user.email }}</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="mb-3">
                                {{ form_label(form.newPassword.first) }}
                                {{ form_widget(form.newPassword.first) }}
                                {{ form_errors(form.newPassword.first) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.newPassword.second) }}
                                {{ form_widget(form.newPassword.second) }}
                                {{ form_errors(form.newPassword.second) }}
                            </div>

                            <div class="d-flex justify-content-between">
                                <a href="{{ path('app_admin_users') }}" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Back to Users
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Change Password
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 